* {
  border: 1px red solid;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/images/bg.svg');
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  gap: 5rem;
}

button {
  border-radius: 50%; /* Arrondi le bouton à 50% de sa largeur/hauteur pour le rendre rond */
  min-width: 300px; /* Défini la largeur et la hauteur du bouton */
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.purple {
  background-color: #DCA2ED;
  transform: translateY(40px);
}

.black {
  background-color: #545454;
}

.green {
  background-color: #7ED957;
  transform: translateY(-40px);
}

.blue {
  background-color: #0CC0DF;
}

.yellow {
  background-color: #FFBD59;
  transform: translateY(50px);
}

.red {
  background-color: #FF5757;
}

.marques {
  background-color: white;
  transform: translateY(-50px);
}

.total {
  background-color: gold;
  transform: translateX(100px);
}

button p {
  text-transform: uppercase;
}

.button-container button p {
  border-radius: 10px;
}


footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}