body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/images/bg.svg');
  background-size: cover;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 21px;
  color: #fff;
  background-color: #d62828;
  padding: 10px 30px;
  border: solid #d62828 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 390ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  transition: 390ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fc0101;
  color: #ffffff;
  border: solid 2px #d62828;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  gap: 5rem;
}

main button {
  border-radius: 50%;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  border: none;
  position: relative;
}

.purple {
  background-color: #dca2ed;
  transform: translateY(40px);
}

button img {
  position: absolute;
  top: 2px;
  left: 15px;
  transform: scale(1.6);
}

.black {
  background-color: #545454;
}

.green {
  background-color: #7ed957;
  transform: translateY(-40px);
}

.blue {
  background-color: #0cc0df;
}

.yellow {
  background-color: #ffbd59;
  transform: translateY(50px);
}

.red {
  background-color: #ff5757;
}

.marques {
  background-color: white;
  transform: translateY(-50px);
}

.total {
  background-color: gold;
  transform: translateX(100px);
}

button p {
  font-size: 6rem;
}

.choice {
  font-size: 3rem;
}

.white {
  color: aliceblue;
}

.button-push {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.44);
}

.turnhover {
  position: fixed;
  font-size: 3rem;
  text-align: center;
}

h1 {
  margin: 1px;
}

h3 {
  margin-top: 15px;
}

strong {
  text-transform: uppercase;
  color: rgb(220, 0, 0);
  font-size: x-large;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

footer p {
  margin: 1px;
}

img {
  pointer-events: none;
}

.dropdown {
  position: fixed;
  top: 80px;
  right: 20px;
}

.dropdown-toggle {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.dropdown-menu {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
  width: 134px;
  text-align: center;
}

.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 5px 10px;

  font-size: x-large;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
